@model IEnumerable<TheMask.Models.Product>

<!DOCTYPE html>
<html>
<head>
    <style>
        .header {
            margin-top: 20px;
            font-family: Helvetica;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: #E7DFD8;
            color: #000;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
        }

        .row {
            border: 2px solid black;
            padding: 25px;
        }

        .card {
            border-color: #E7DFD8;
        }

        .card-title {
            font-size: 30px
        }

        .card-price {
            font-size: 20px; 
            color: #d17724;
        }

        .add-to-cart-button {
            font-family: sans-serif;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            background-color: #FF7B34;
            border-color: #FF7B34;
            color: whitesmoke;
        }

        .add-to-cart-button:hover {
            background-color: #000;
            border-color: #000;
            color: white;
        }

    </style>
</head>
<body style="background-color: #E7DFD8;">

    @*<table class="table table-dark">

        <tr>
            <th colspan="5">Student</th>
        </tr>

        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Category</td>
            <td>Product Image</td>
            <td>Description</td>
        </tr>
        @foreach (var Product in Model) 
        {
            <tr>
                <td>@Product.Id</td>
                <td>@Product.ProductName</td>
                <td>@Product.ProductCategory</td>
                <td>@Product.ProductImage</td>
                <td>@Product.ProductDescription</td>
            </tr>
        };
    </table>*@

    <div class="container">
        <div class="header">
            <div class="logo" id="HDR" style="font-size: 50px; color:#d17724; font-weight: lighter;">TheMaskMakeup</div>
        </div>

        <div class="card-container">
            <div class="container mt-5">
                <div class="row">
                    @foreach (var Product in Model)
                    {
                        if (Product.ProductCategory.Equals("Makeup"))
                        {
                            <div class="col-md-4">
                                <div class="card" style="background-color: #E7DFD8;">
                                    <img src="~/images/@String.Concat(Product.ProductImage, ".jpg")" class="card-img-top" alt="Product Image">
                                    <div class="card-body">
                                        <h5 class="card-title" id="HDR" style="font-weight: lighter;">@Product.ProductName</h5>
                                        <h5 class="card-price" id="HDR">$@Product.ProductPrice.00</h5>
                                        <p class="card-text" style="font-weight: bold; text-align: justify;">
                                            @Product.ProductDescription
                                        </p>
                                        <button class="add-to-cart-button" asp-action="">Mask Up</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>